html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#participants, #addParticipant, #scoreboard {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.participantBtn {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.participantBtn.selected {
    background-color: #0056b3;
}

#newParticipantName {
    padding: 5px;
    font-size: 1rem;
    margin-right: 10px;
    flex-grow: 1;
}

#display {
    font-size: 5rem;
    margin-bottom: 20px;
    color: black;
}

#results div {
    font-size: 1.2rem;
    margin: 5px 0;
    white-space: pre-line; /* 줄바꿈을 허용 */
}

#coffeeMessage {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}

/* 둥근 버튼 스타일 */
.round-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ff4c4c;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.round-button.red:hover {
    background-color: #e60000;
}

.round-button:active {
    background-color: #cc0000;
    transform: scale(0.95);
}

/* 무지개 색상 애니메이션 */
@keyframes rainbow {
    0% { color: #FF0000; }
    14% { color: #FF7F00; }
    28% { color: #FFFF00; }
    42% { color: #00FF00; }
    57% { color: #0000FF; }
    71% { color: #4B0082; }
    85% { color: #8B00FF; }
    100% { color: #FF0000; }
}

/* 오늘의 당첨자 폰트 크기 및 애니메이션 */
.highlight {
    font-size: 2.5rem;  /* 폰트를 크게 설정 */
    font-weight: bold;
    text-align: center;  /* 가운데 정렬 */
    animation: rainbow 3s infinite;  /* 무지개색 애니메이션 */
}

/* 폭죽 애니메이션 정의 */
@keyframes fireworks {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(3);
    }
}

.firework {
    position: absolute;
    border-radius: 50%;
    background-color: red;
    width: 10px;
    height: 10px;
    animation: fireworks 10s ease-out forwards;
}
